.photo {
    position: absolute;
    width: 248px;
    height: 160px;
    left: 17px;
    top: 17px;
    margin: auto;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card h1 {
    position: absolute;
    width: 235px;
    height: 25px;
    left: 17px;
    top: 194px;
    margin:auto;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    text-align: left;
    color: rgba(0, 87, 255, 0.7);
}
p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    color: #9795B5;
}
.category {
    position: absolute;
    width: 60px;
    height: 30px;
    left: 17px;
    top: 217px;
    margin: auto;
}
.mhd {
    position: absolute;
    height: 25px;
    left: 17px;
    top: 253px;
    margin:auto;
}
.ort {
    position: absolute;
    height: 25px;
    left: 17px;
    top: 273px;
    margin: auto;
    overflow: hidden;
}
.arrow {
    margin: auto;
    height: 24px;
    width: 24px;
}
.weiter {
    position: absolute;
    width: 170px;
    left: 17px;
    top: 318px;
    margin: auto;
    color: #8D8BA7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a.weiter > p {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}
