h1 {
    font-size : 4.5rem;
    line-height : 4rem;
    margin : 30px auto 0;
    font-weight : 700;
    text-align : center;
    color : rgb(0, 87, 255, 0.7);
}
.food-img-dsp {
    height : auto;
    width : 100% !important;
    object-fit : cover;
    border-radius : 16px;
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.05);
}
.mini-text {
    display : flex;
}
.desc-text {
    max-width : 50%;
    padding : 0.4rem;
    margin-bottom : 1rem;
    font-size : 1rem;
    background : #F9F9FF;
    border-radius : 8px;
    border : none;
    font-weight : 400;
    resize : none;
}
main label {
    display: block;
    margin-bottom : 0.5rem;
    font-weight : 700;
    font-size : 18px;
    color : #5D5A88;
}
.eintrag {
    margin : auto;
    display : flex;
    flex-wrap : wrap;
    align-items : center;
    justify-content : center;
    max-width: 1000px;
    width: 90%;
}
.mini {
    width : 24px;
    margin-right : 3px;
}
.form-section {
    flex : 1;
    min-width : 300px;
    padding : 0 1rem;
    box-sizing : border-box;
}
.form-section:last-child {
    flex-basis : 100%;
    padding-top : 1rem;
}
.image-container {
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    margin: 0 15px 20px;
}
form button.accent {
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
}
.details {
    box-sizing : border-box;
    display : flex;
    align-items : center;
    justify-content : center;
}
.child {
    list-style : none;
    color : #9795B5;
}

main textarea {
  font-family: 'Arial';
  color:#5D5A88;
}

@media screen and (max-width: 700px) {
    .eintrag {
        flex-direction: column-reverse;
    }
}