h1 {
    font-size : 4.5rem;
    line-height : 4rem;
    margin : 30px auto 0;
    font-weight : 700;
    text-align : center;
    color : rgb(0, 87, 255, 0.7);
}
.food-img-dsp {
    height : auto;
    width : 100% !important ;
    object-fit : cover;
    border-radius : 16px;
}
.mini-text {
    display : flex;
}
.desc-text {
    width : 100%;
    padding : 0.4rem;
    margin-bottom : 1rem;
    font-size : 1rem;
    background : #F9F9FF;
    border-radius : 8px;
    border : none;
    font-weight : 400;
    resize : none;
}
label {
    display : block;
    margin-bottom : 0.5rem;
    font-weight : 700;
    font-size : 18px;
    color : #5D5A88;
}
.eintrag {
    max-width : 1200px;
    margin : auto;
    width : 90%;
    display : flex;
    flex-wrap : wrap;
    align-items : center;
    justify-content : center;
    margin-bottom : 10rem;
}
.mini {
    width : 24px;
    margin-right : 3px;
}
.form-section {
    flex : 1;
    min-width : 300px;
    padding : 0 1rem;
    box-sizing : border-box;
}
.form-section:last-child {
    flex-basis : 100%;
    padding-top : 1rem;
}
.image-container {
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
}
.submit {
    background : rgb(0, 87, 255, 0.7);
    border-radius : 40px;
    color : #fff;
    border : none;
    float : right;
    padding : 1.2rem 1.8rem;
    margin-bottom : 10px;
    cursor : pointer;
    font-size : 1rem;
}
button:hover {
    background-color : rgb(0, 87, 255, 0.9);
}
.details {
    flex : 1;
    min-width : 300px;
    padding : 0 1rem;
    box-sizing : border-box;
    display : flex;
    align-items : center;
    justify-content : center;
}
.child {
    list-style : none;
    min-width : 150px;
    color : #9795B5;
}
