* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', 'Arial';
}

main {
    padding-top: 15vh;
    text-align: center;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-bottom: 2px solid rgba(0, 87, 255, 0.7);
    opacity: 1;
    background-color: #FFFFFF;
}
nav {
    width: 90%;
}

.accent {
    background: rgba(0, 87, 255, 0.7);
    border-radius: 30px;
    color: #FFFF;
    padding: 10px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding-inline-start: 0;
    align-items: center;
    margin: 0;
}

li {
    align-items: center;
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
    text-align: center;
    color: #5D5A88;
    padding: 5px;
}
nav a {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    display: block;
}
header a::after {
    transition: all 250ms ease;
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: rgba(0, 87, 255, 0.7);
    }
header a:hover::after {
    width: 100%
}

nav form {
    display: flex;
    flex-direction: row;
    border-radius: 50px;
}
nav form:focus-within {
    outline: 2px solid rgba(0, 87, 255, 0.7)
}
nav input[type="text"] {
    border-radius: 50px 0 0 50px;
    background: #F2F1FA;
    border: none;
    height: 45px;
    width: 35vw;
    padding-left: 25px;
    padding-right: 0;
    flex-grow: 2;
}
nav input[type="text"]:focus {
    outline: none;
}

nav button[type="submit"] {
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 0 50px 50px 0;
    background: #F2F1FA;
    cursor: pointer;

}

.nav-toggle-label {
    display: none;
}
.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.CardsPage {
    display:flex;
    flex-direction: row;
}

.card {
    flex:1;
    width: 285px;
    height: 368px;
    padding: 20px;

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
    margin-right: 20px;
}

footer {
    color: #5D5A88;
    width: 100%;
    padding: 1.5vh 5% 2vh;
    position: fixed;
    top: 94.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-top: 2px solid rgba(0, 87, 255, 0.7);
}

footer ul, footer div {
    height: 2vh;
}

@media screen and (max-width:850px) {
    header {
        height: 10vh;
    }
    main {
        padding-top: 10vh;
    }

    nav ul {
        opacity: 0;
        flex-direction: column-reverse;
        position: absolute;
        text-align: center;
        left: 0;
        top: 0;
        background: #FFFFFF;
        width: 100%;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 250ms ease-in-out;
        border-bottom: 2px solid rgba(0, 87, 255, 0.7);
        padding: 10px 0;
    }

    nav li {
        padding: 3px 15px;
        width: 100%;
    }
    nav a {
        margin: 0 30vw;
    }

    .nav-toggle:checked + nav ul {
        transform: scale(1,1);
    }
    .nav-toggle:checked + nav ul {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }
    .nav-toggle:checked ~ label span#st {
        transform: translateY(13px) rotate(45deg);
    }
    .nav-toggle:checked ~ label span#rd {
        transform: translateY(-13px) rotate(-45deg);
    }
    .nav-toggle:checked ~ label span#nd {
        opacity: 0;
    }

    .nav-toggle-label span {
        display: block;
        background: rgba(0, 87, 255, 0.7);
        height: 3px;
        width: 45px;
        border-radius: 2px;
        position: relative;
        margin: 10px;
        transition: 500ms ease;
        transform-origin: center;
    }

    .nav-toggle-label {
        height: 100%;
        display: block;
        position: relative;
        cursor: pointer;
    }

    footer ul {
        flex-wrap: wrap;
    }
    footer {
        top: 90.5vh;
        height: 10vh;
        padding-top: 1vh;
    }
    footer li {
        padding: 0 5px;
    }
    footer div {
        word-wrap: normal;
        display: block;
    }
}