h1 {
  font-size: 4.5rem;
  line-height: 4rem;
  margin: 30px auto 0;
  font-weight: 700;
  text-align: center;
  color: rgba(0, 87, 255, 0.7);
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 400;
  text-align: center;
  color: #9795B5;
}
.neuereintrag {
  max-width: 1000px;
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.form-section {
  flex: 1;
  min-width: 300px;
  padding: 0 1rem;
  box-sizing: border-box;
}
.form-section:last-child {
  flex-basis: 100%;
  padding-top: 1rem;
}
main label {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  color: #5D5A88;
}
.form-section input, .form-section select, .form-section textarea {
  width: 95%;
  padding: 0.4rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  background: #F9F9FF;
  border-radius: 8px;
  border: none;
  height: 2rem;
  font-weight: 400;
}
#description {
  height: 8rem;
  width: 100%;
  resize: none;
}
select {
  height: 2.4rem;
}
.accent {
  font-size: 18px;
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.address {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.address > * {
  flex: 1;
}
.upload-label {
  cursor: pointer;
}
input[type=file] {
  margin-bottom: 2rem;
  padding: 0.1rem;
  display: none;
}
main input:focus, main textarea:focus, main select:focus {
  outline: 2px solid rgba(0, 87, 255, 0.7);
}
main ::placeholder, main input[type=date]:invalid::-webkit-datetime-edit, main select:invalid {
  color: #8D8BA7;
  font-family: 'Arial';
}
main input[type=date]::-webkit-datetime-edit {
  font-family: 'Arial';
}
main input[type=date]:invalid::-webkit-datetime-edit {
  text-transform: uppercase;
}
main input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(0.6);
  cursor: pointer;
}
.food-img {
  height: auto;
  width: 100% !important;
  object-fit: cover;
  border-radius: 16px;
}

main textarea {
  font-family: 'Arial';
}